################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Bunkering.Database/Bunkering.Database.jfm
/Bunkering.Database/Bunkering.Database.dbmdl
*.cache
*.cache
*.vsidx
*.cache
