<DocType lang="en">
    <html>
        <head>
            <title></title>
        </head>
        <body>
            <div class="text-center">
                <div>
                    <img src="{2}" width="50" height="50" />

                    <span style="font-size: large;">NIGERIAN MIDSTREAM AND DOWNSTREAM PETROLEUM REGULATORY AUTHORITY</span>
                    <p>
                        {0}
                    </p>
                    <p>All Rights Reserved. &copy; {1} (NMDPRA)</p>
                </div>
            </div>
        </body>
    </html>
</DocType>